/* ============= GLOBAL CSS =============== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  --trasition: 0.3s all ease-in-out;
  --accent1: #d81b60;
  --accent2: #c2185b;
  --green3: #3dd68c;
  --white: #fff;
  --background-color: #121212;
  --background-color2: #1e1e1e;
  --text-color: #f0f0f0;
}
body {
  background-color: var(--background-color2);
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  letter-spacing: 1.25px;
  font-family: Montserrat, sans-serif;
  color: var(--text-color);
}
button:hover {
  cursor: pointer;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus {
  outline: none;
  color: var(--background-color);
}
p,
li,
button,
input,
.link {
  font-family: Roboto, serif;
  color: var(--text-color);
}
.link {
  text-decoration: none;
}
span,
.active {
  color: var(--accent1);
}
.page {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 2rem 0;
}
